DATABASE_URL="postgresql://postgres:postgres@localhost:5432/multi_job_scheduler?schema=public"
KAFKA_BROKERS="localhost:9092"
KAFKA_CLIENT_ID="multi-job-kafka-scheduler"
KAFKA_ENABLED="true"
PORT="3000"
